/* LoginPage.css */

.login-container {
  height: 100vh;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-title {
  font-size: 40px;
  color: #ffffff;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
  margin-bottom: 50px;
  text-align: center;
  font-family: "Press Start 2P", cursive;
}

.login-button {
  padding: 12px 24px;
  font-size: 16px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Press Start 2P", cursive;
  transition: transform 0.2s ease;
}

.login-button:hover {
  transform: scale(1.1);
}
