.ranking-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
  font-family: "Press Start 2P", cursive;
}

.ranking-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.ranking-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ranking-item {
  font-size: 16px;
  margin: 10px 0;
}

/* 👑 상위 랭커 강조 */
.ranking-item {
  font-size: 15px;
  margin: 40px 0;
  font-weight: normal;
  color: white;
}

.ranking-item.first {
  font-size: 20px;
  font-weight: 900;
}

.ranking-item.second {
  font-size: 18px;
  font-weight: 700;
}

.ranking-item.third {
  font-size: 17px;
  font-weight: 600;
}

.my-rank-text {
  margin-top: 40px;
  font-size: 14px;
  font-family: "Press Start 2P", cursive;
  color: white;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .ranking-title {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .ranking-item {
    font-size: 12px;
    margin: 10px 0;
  }

  .ranking-item.first {
    font-size: 14px;
  }

  .ranking-item.second {
    font-size: 13px;
  }

  .ranking-item.third {
    font-size: 12.5px;
  }

  .my-rank-text {
    font-size: 12px;
    margin-top: 30px;
  }
}
